form#numbers-form {
  background: url('images/countdown.png') no-repeat;
  background-size: contain;
  min-height: 500px;
  padding: 420px 0 0 30px;

  label {
    font-size: $font-size-medium;
    margin-right: 1em;
    margin-left: 1em;
  }
  input#numbers, input#target {
    background: rgba(255, 255, 255, 0.8);
    font-size: $font-size-medium;
    padding: 0.3em;
    margin-right: 1rem;
    width: 12em;
  }

  input#target {
    width: 4em;
  }
}

@media (max-width: 490px) {
  input#numbers  {
    font-size: $font-size-small;
    width: 9em;
  }

  label,
  input#target {
    font-size: $font-size-small;
  }
}

.result-box {
  border: 1px solid lighten($box-header, 20%);
  color: $text-colour;
  font-size: $font-size-medium;
  padding: 0;
  min-height: 5em;

  .header {
    background: $box-header;
    font-size: $font-size-medium;
    height: $font-size-largest;
    line-height: $font-size-largest;
    text-align: center;
  }

  .rb-main {
    padding-left: 1em;
    padding-right: 1em;
  }

  pre {
    font-family: monospace;
    font-size: $font-size-medium;
    line-height: 1.3;
  }
}
